{% extends 'base.html' %}

{% block title %}Techno{% endblock %}

{% block content %}
<body>
    <center>
    <p style="margin-top: 150px">Please choose your device</p>
    
        <div  class="col-sm-12 col-md-12 col-lg-12 ">
            
            <button><a href="/IOS_Page.html"><img src="{{url_for('static', filename= 'img/ios.png')}}" width="300" height="300"></a></button>
            <button><a href="/android.html"><image src="{{url_for('static', filename= 'img/android_os_logo_icon_134673.png')}}" width="300" height="300"></a></button>

        </div>
    </center>

</body>

{% endblock %}