{% extends 'base.html' %}

{% block title %}Techno{% endblock %}

{% block content %}

<p>
    <div class="panel panel-default">
        <div class="panel-heading">1. Introduction</div>
        <div class="panel-body">
We are responsible for maintaining and protecting the Personal Information under our control. We have designated an individual or individuals who is/are responsible for compliance with our privacy policy.
        </div>


<div class="panel-heading">2. Identifying Purposes</div>
<div class="panel-body">
We collect, use and disclose Personal Information to provide you with the product or service you have requested and to offer you additional products and services we believe you might be interested in. The purposes for which we collect Personal Information will be identified before or at the time we collect the information. In certain circumstances, the purposes for which information is collected may be clear, and consent may be implied, such as where your name, address and payment information is provided as part of the order process.
</div>
  

<div class="panel-heading">3. Consent</div>
<div class="panel-body">
Knowledge and consent are required for the collection, use or disclosure of Personal Information except where required or permitted by law. Providing us with your Personal Information is always your choice. However, your decision not to provide certain information may limit our ability to provide you with our products or services. We will not require you to consent to the collection, use, or disclosure of information as a condition to the supply of a product or service, except as required to be able to supply the product or service.
</div>
 

<div class="panel-heading">4. Limiting Collection</div>
<div class="panel-body">
The Personal Information collected will be limited to those details necessary for the purposes identified by us. With your consent, we may collect Personal Information from you in person, over the telephone or by corresponding with you via mail, facsimile, or the Internet.
</div>
 

<div class="panel-heading">5. Limiting Use, Disclosure and Retention</div>
<div class="panel-body">
Personal Information may only be used or disclosed for the purpose for which it was collected unless you have otherwise consented, or when it is required or permitted by law. Personal Information will only be retained for the period of time required to fulfill the purpose for which we collected it or as may be required by law. [If applicable, include a description of any parties with whom you may share Personal Information.]
</div>
 

<div class="panel-heading">6. Accuracy</div>

<div class="panel-body">Personal Information will be maintained in as accurate, complete and up-to-date form as is necessary to fulfill the purposes for which it is to be used.
</div>
 

<div class="panel-heading">7. Safeguarding Customer Information</div>

<div class="panel-body">Personal Information will be protected by security safeguards that are appropriate to the sensitivity level of the information. We take all reasonable precautions to protect your Personal Information from any loss or unauthorized use, access or disclosure.
</div>
 

<div class="panel-heading">8. Openness</div>

<div class="panel-body">We will make information available to you about our policies and practices with respect to the management of your Personal Information.</div>

 

<div class="panel-heading">9. Customer Access</div>

<div class="panel-body">Upon request, you will be informed of the existence, use and disclosure of your Personal Information, and will be given access to it. You may verify the accuracy and completeness of your Personal Information, and may request that it be amended, if appropriate. However, in certain circumstances permitted by law, we will not disclose certain information to you. For example, we may not disclose information relating to you if other individuals are referenced or if there are legal, security or commercial proprietary restrictions.</div>

 

<div class="panel-heading">10. Handling Customer Complaints and Suggestions</div> 

<div class="panel-body">You may direct any questions or enquiries with respect to our privacy policy or our practices by</div>

<div class="panel-heading">contacting:</div>

 
<div class="panel-body">
1234 Main st, Atlanta, GA 30342

404-123-4567
</div>


 

<div class="panel-heading">Cookies</div>

<div class="panel-body">
A cookie is a small computer file or piece of information that may be stored in your computer's hard drive when you visit our websites. We may use cookies to improve our website’s functionality and in some cases, to provide visitors with a customized online experience.

Cookies are widely used and most web browsers are configured initially to accept cookies automatically. You may change your Internet browser settings to prevent your computer from accepting cookies or to notify you when you receive a cookie so that you may decline its acceptance. Please note, however, if you disable cookies, you may not experience optimal performance of our website.
</div>
</div>
</p>
{% endblock content %}