{% extends'base.html' %}
{% block content %}
<div class=" container w-50">
    <form method="POST" action="">
{{form.hidden_tag()}}
<fieldset>
<legend class="border-bottom mb-4"> Please Add Your IOS Solution Here</legend>
<div class="form-group">
    {{form.prosubios.label(class="form-control-label")}}
    {%if form.prosubios.errors %}
    {{form.prosubios(class="form-control form-control-lg is-invalid")}}
        {%for error in form.prosubios.errors%}
            <span>{{error}}</span>
        {%endfor%}
        {%else%}
        
        {{form.prosubios(class="form-control form-control-lg")}}
    {%endif%}
</div>
<div class="form-group">
    {{form.proios.label(class="form-control-label")}}
    {%if form.proios.errors %}
    {{form.proios(class="form-control form-control-lg is-invalid")}}
        {%for error in form.proios.errors%}
            <span>{{error}}</span>
        {%endfor%}
        {%else%}
        
        {{form.proios(class="form-control form-control-lg")}}
    {%endif%}
</fieldset>
<div class="form-group mt-4">
    {{form.submit(class='btn btn-online-info')}}
</div>

    </form>

</div>
{% endblock %}