{% extends 'base.html' %}

{% block title %}Irecipe{% endblock %}

{% block content %}
<body>
    <center>
    <p style="margin-top: 150px">Please choose your Ingredient</p>
    
        <div  class="col-sm-12 col-md-12 col-lg-12 ">
            
          <button><a href="/Chicken.html" title="Chicken"><img src="{{ url_for('static', filename='img/Chicken.png') }}" width="300" height="300"></a></button>
          <button><a href="/meat.html" title="Meat"><img src="{{ url_for('static', filename='img/Meat.png') }}" width="300" height="300"></a></button>
          <button><a href="/fish.html" title="Fish"><img src="{{ url_for('static', filename='img/fish.png') }}" width="300" height="300"></a></button>

        </div>

    </center>
    <br></br>

    <div class="mydiv">
    <button type="button" style="width: 250px; justify-content: center; margin-top: 20px; " onclick="loadDoc()">About us</button>
    </div>
    <br></br>



<p id="demo"></p>

<script>
function loadDoc() {
  const xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
    document.getElementById("demo").innerHTML = this.responseText;
  }
  xhttp.open("GET", "{{url_for('static', filename= 'img/v.txt')}}");
  xhttp.send();
  
}
</script>

</body>

{% endblock %}