
{% extends 'base.html' %}

{% block title %}Techno{% endblock %}

{% block content %}
<center>
    <div class="container">
        <table class="table">
           <thead>
           <tr class="active">
           <th>Name</th>
           <th>Address</th>
           <th>Email</th>
           <th>Phone</th>
         </tr>
         <tr class="default">
           <td>TECHNO</td>
           <td>Atlanta, Georgia, United State</td>
           <td> info@Techno.come</td> 
           <td> +1(404)123-4567</td>
         </tr>
           </tbody>
         </table>
       </div>
       </body>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d204914.98466689035!2d-84.55574197752821!3d33.766397904284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5045d6993098d%3A0x66fede2f990b630b!2sAtlanta%2C%20GA%2C%20USA!5e0!3m2!1sen!2ssa!4v1671672415607!5m2!1sen!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</center>
{% endblock content %}