{% extends 'base.html' %}
{% block content %}
<div class=" container w-50">
    <form method="POST" action="">
{{form.hidden_tag()}}
<fieldset>
<legend class="border-bottom mb-4"> Please Login</legend>
<div class="form-group">
    {{form.email.label(class="form-control-label")}}
    {%if form.email.errors %}
    {{form.email(class="form-control form-control-lg is-invalid")}}
        {%for error in form.email.errors%}
            <span>{{error}}</span>
        {%endfor%}
        {%else%}
        
        {{form.email(class="form-control form-control-lg")}}
    {%endif%}
</div>
<div class="form-group">
    {{form.password.label(class="form-control-label")}}
    {%if form.password.errors %}
    {{form.password(class="form-control form-control-lg is-invalid")}}
        {%for error in form.password.errors%}
            <span>{{error}}</span>
        {%endfor%}
        {%else%}
        
        {{form.password(class="form-control form-control-lg")}}
    {%endif%}

</fieldset>
<div class="form-group mt-4">
    {{form.submit(class='btn btn-online-info')}}
    <a href="{{url_for('reset_request')}}">Forgot Password</a>
</div>

    </form>

</div>
{% endblock %}