{% extends 'base.html' %}

{% block content %}
<div class="container w-50">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">Please Sign up</legend>

            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.graphical_password.label(class="form-control-label") }}

                <div class="input-group">
                    {% if form.graphical_password.errors %}
                        {{ form.graphical_password(class="form-control is-invalid", id="graphical_password") }}
                        <div class="invalid-feedback">
                            {% for error in form.graphical_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <select class="form-control" id="graphical_password" name="graphical_password" multiple style="height: 60px; width: 900px;">
                            {% for image in form.graphical_password %}
                                <option value="{{ image.data }}" style="background-image: url('{{ url_for('static', filename='img/' + image.data) }}'); background-size: cover; height: 50px; width: 50px; display: inline-block; margin-right: 10px; margin-bottom: 10px;"></option>
                                {% if loop.index % 3 == 0 %}</br>{% endif %}
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>

            <div class="form-group mt-4">
                {{ form.submit(class='btn btn-online-info') }}
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}
